.label {
   display: block;
   margin-top: 20px;
   font-size: 16px;
   font-weight: 500;
}

.input {
   display: block;
   height: 50px !important;
   width: 100%;
   // background-color: rgba(255, 255, 255, 0.135);
   border-radius: 4px !important;
   border:1px solid gray !important;
   padding: 0 10px;
   margin-top: 8px !important;
   font-size: 14px;
   // font-weight: 300;
   // outline: 0;
   // color: #9e9e9e;
}

.select {
   width: 100%;
   padding: 8px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 16px;
 
   &:focus {
     outline: none;
     border-color: #007bff;
   }
 }